<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    Default scope is singleton only 1 object throughout session -->
<!--    prototype scope is allowing dedicated object creation means we can create two or more object-->
    <bean id="alien1"  class="com.company.Alien" scope="prototype">
    </bean>


    <bean id="lap"  class="com.company.Laptop">
    </bean>

</beans>
